.capitalize{
    text-transform: capitalize;
}
.uppercase{
    text-transform: capitalize;
}

.header{
    background-color: hsl(210, 29%, 97%);
    margin: 0;
    padding: 0;
    width: 100vw;
    border-bottom: 1px solid lightgrey;
    .header_title{
        margin-left: 5vw;
        font-size: 3em;
    }
}